# Ignore everything in this directory - this is purely generated.
*
# Except this file
!.gitignore
# And the message impls.
!message_impls.rs

# TEMP: and all code files for a git dependency right now without releasing
!*.rs